{{ form_start(form) }}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-personal-tab" data-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal" aria-selected="true">Información personal</a>
        <a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Direcciones</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Información de contacto</a>
        <a class="nav-item nav-link" id="nav-education-tab" data-toggle="tab" href="#nav-education" role="tab" aria-controls="nav-education" aria-selected="false">Educación</a>
        <a class="nav-item nav-link" id="nav-language-tab" data-toggle="tab" href="#nav-language" role="tab" aria-controls="nav-language" aria-selected="false">Idiomas</a>
        <a class="nav-item nav-link" id="nav-emergency-tab" data-toggle="tab" href="#nav-emergency" role="tab" aria-controls="nav-emergency" aria-selected="false">Contactos de emergencia</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
        {{ form_row(form._token) }}
        <div class="row">
            <div class="col-md-6 mb-3">{{ form_row(form.forenames) }}</div>
            <div class="col-md-6 mb-3">{{ form_row(form.surnames) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">{{ form_row(form.dui) }}</div>
            <div class="col-md-6 mb-3">{{ form_row(form.nit) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">{{ form_row(form.isss) }}</div>
            <div class="col-md-6 mb-3">{{ form_row(form.nup) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">{{ form_row(form.birthdate) }}</div>
            <div class="col-md-6 mb-3"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
        {% for address in form.addresses %}
        {{ form_widget(address) }}
        {% else %}
        {{ form_widget(form.addresses.vars.prototype) }}
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        {% for contact in form.contactInfos %}
        {{ form_widget(contact) }}
        {% else %}
        {{ form_widget(form.contactInfos.vars.prototype) }}
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
        {% for education in form.educations %}
        {{ form_widget(education) }}
        {% else %}
        {{ form_widget(form.educations.vars.prototype) }}
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-language" role="tabpanel" aria-labelledby="nav-language-tab">
        {% for language in form.languages %}
        {{ form_widget(language) }}
        {% else %}
        {{ form_widget(form.languages.vars.prototype) }}
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-emergency" role="tabpanel" aria-labelledby="nav-emergency-tab">
        {% for contact in form.emergencyContacts %}
    {{ form_widget(contact) }}
    {% else %}
    {{ form_widget(form.emergencyContacts.vars.prototype) }}
    {% endfor %}
    </div>
</div>
<button class="btn btn-success">{{ button_label|default('Crear') }}</button>
{{ form_end(form, {'render_rest': false}) }}
