{% extends 'base.html.twig' %}

{% block title %}Actualizar información del empleado{% endblock %}

{% block body %}
<h1>Modificar información del empleado</h1>

{{ include('employee/_form.html.twig', {'button_label': 'Modificar'}) }}

<a class="btn btn-secondary" class="btn btn-secondary" href="{{ path('employee_index') }}">Regresar</a>

{{ include('employee/_delete_form.html.twig') }}
{% endblock %}
