{% extends 'base.html.twig' %}

{% block title %}Lista de empleados{% endblock %}

{% block body %}
    <h1>Lista de empleados</h1>
    <a class="btn btn-info" href="{{ path('employee_new') }}">Ingresar</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Fecha de nacimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.forenames }} {{ employee.surnames }}</td>
                <td>{{ employee.birthdate ? employee.birthdate|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('employee_show', {'id': employee.id}) }}">Mostrar</a>
                    <a href="{{ path('employee_edit', {'id': employee.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
