{% extends 'base.html.twig' %}

{% block title %}Ingresar nuevo empleado{% endblock %}

{% block body %}
<h1>Crear un nuevo empleado</h1>

{{ include('employee/_form.html.twig') }}

<a class="btn btn-secondary" href="{{ path('employee_index') }}">Regresar</a>
{% endblock %}
