{% extends 'base.html.twig' %}

{% block title %}Consultar empleado{% endblock %}

{% block body %}
<h1>Mostrar los detalles del usuario</h1>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-personal-tab" data-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal" aria-selected="true">Información personal</a>
        <a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Direcciones</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Información de contacto</a>
        <a class="nav-item nav-link" id="nav-education-tab" data-toggle="tab" href="#nav-education" role="tab" aria-controls="nav-education" aria-selected="false">Educación</a>
        <a class="nav-item nav-link" id="nav-language-tab" data-toggle="tab" href="#nav-language" role="tab" aria-controls="nav-language" aria-selected="false">Idiomas</a>
        <a class="nav-item nav-link" id="nav-emergency-tab" data-toggle="tab" href="#nav-emergency" role="tab" aria-controls="nav-emergency" aria-selected="false">Contactos de emergencia</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
        <div class="row">
            <div class="col-md-3">Nombre completo</div>
            <div class="col-md-9">{{ employee.forenames }} {{ employee.surnames }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">DUI</div>
            <div class="col-md-9">{{ employee.dui }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">NIT</div>
            <div class="col-md-9">{{ employee.nit }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">ISSS</div>
            <div class="col-md-9">{{ employee.isss }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">NUP</div>
            <div class="col-md-9">{{ employee.nup }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Fecha de nacimiento</div>
            <div class="col-md-9">{{ employee.birthdate ? employee.birthdate|date('d/m/Y') : '' }}</div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
        {% for address in employee.addresses %}
        <address>
            <strong>{{ address.type | address_type }}</strong>
            <p>{{ address.line1 }}<br>{{ address.line2 }}</p>
            <p>{{ address.city }}, {{ address.department }}</p>
        </address>
        {% else %}
        'No posee dirección registrada.'
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        {% for contact in employee.contactInfos %}
        <div class="row">
            <div class="col-md-3">Numero de teléfono</div>
            <div class="col-md-9">{{ contact.phoneNumber }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Correo electrónico</div>
            <div class="col-md-9">{{ contact.email }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Tipo</div>
            <div class="col-md-9">{{ contact.type | contact_info_type }}</div>
        </div>
        {% else %}
        'No posee información de contacto registrada.'
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
        {% for education in employee.educations %}
        <div class="row">
            <div class="col-md-3">Nivel</div>
            <div class="col-md-9">{{ education.level | education_level }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Grado</div>
            <div class="col-md-9">{{ education.grade | education_grade }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Titulo</div>
            <div class="col-md-9">{{ education.title }}</div>
        </div>
        {% else %}
        'No posee educación registrada.'
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-language" role="tabpanel" aria-labelledby="nav-language-tab">
        {% for language in employee.languages %}
        <div class="row">
            <div class="col-md-3">Idioma</div>
            <div class="col-md-9">{{ language.lang | language }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Nivel</div>
            <div class="col-md-9">{{ language.level | language_level }}</div>
        </div>
        {% else %}
        'No posee idiomas registrados.'
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-emergency" role="tabpanel" aria-labelledby="nav-emergency-tab">
        {% for contact in employee.emergencyContacts %}
        <div class="row">
            <div class="col-md-3">Nombre completo</div>
            <div class="col-md-9">{{ contact.fullName }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Parentesco</div>
            <div class="col-md-9">{{ contact.relationship }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Numero de teléfono</div>
            <div class="col-md-9">{{ contact.phoneNumber }}</div>
        </div>
        {% else %}
        'No posee contactos en caso de emergencia.'
        {% endfor %}
    </div>
</div>

<a class="btn btn-secondary" href="{{ path('employee_index') }}">Regresar</a>

<a class="btn btn-info" href="{{ path('employee_edit', {'id': employee.id}) }}">Actualizar</a>

{{ include('employee/_delete_form.html.twig') }}
{% endblock %}
