<form method="post" action="{{ path('contract_delete', {'id': contract.id}) }}" onsubmit="return confirm('¿Esta seguro de querer eliminarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contract.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
