{{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="row">
        <div class="col-md-6 mb-3">{{ form_row(form.salary) }}</div>
        <div class="col-md-6 mb-3">{{ form_row(form.period) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">{{ form_row(form.startAt) }}</div>
        <div class="col-md-4 mb-3">{{ form_row(form.endAt) }}</div>
        <div class="col-md-4 mb-3">{{ form_row(form.type) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">{{ form_row(form.employee) }}</div>
        <div class="col-md-6 mb-3">{{ form_row(form.job) }}</div>
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Crear') }}</button>
{{ form_end(form) }}
