{% extends 'base.html.twig' %}

{% block title %}Actualizar contrato{% endblock %}

{% block body %}
    <h1>Modificar contrato</h1>

    {{ include('contract/_form.html.twig', {'button_label': 'Modificar'}) }}

    <a class="btn btn-secondary" href="{{ path('contract_index') }}">Regresar</a>

    {{ include('contract/_delete_form.html.twig') }}
{% endblock %}
