{% extends 'base.html.twig' %}

{% block title %}Lista de contratos{% endblock %}

{% block body %}
    <h1>Lista de contratos</h1>

    <a class="btn btn-info" href="{{ path('contract_new') }}">Ingresar</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Salario base</th>
                <th>Periodicidad</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.id }}</td>
                <td>{{ contract.salary }}</td>
                <td>{{ contract.period }}</td>
                <td>{{ contract.startAt ? contract.startAt|date('d/m/Y') : '' }}</td>
                <td>{{ contract.endAt ? contract.endAt|date('d/m/Y') : '' }}</td>
                <td>{{ contract.type }}</td>
                <td>
                    <a href="{{ path('contract_show', {'id': contract.id}) }}">Mostrar</a>
                    <a href="{{ path('contract_edit', {'id': contract.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
