{% extends 'base.html.twig' %}

{% block title %}Ingresar nuevo contrato{% endblock %}

{% block body %}
    <h1>Crear un nuevo contrato</h1>

    {{ include('contract/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('contract_index') }}">Regresar</a>
{% endblock %}
