{% extends 'base.html.twig' %}

{% block title %}Consultar contrato{% endblock %}

{% block body %}
    <h1>Mostrar los detalles del contrato</h1>
    <div class="row">
        <div class="col-md-3">Salario base</div>
        <div class="col-md-9">{{ contract.salary }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Periodicidad</div>
        <div class="col-md-9">{{ contract.period }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Fecha de inicio</div>
        <div class="col-md-9">{{ contract.startAt ? contract.startAt|date('d/m/Y') : '' }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Fecha de fin</div>
        <div class="col-md-9">{{ contract.endAt ? contract.endAt|date('d/m/Y') : '' }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Tipo</div>
        <div class="col-md-9">{{ contract.type | position_type }}</div>
    </div>

    <a class="btn btn-secondary" href="{{ path('contract_index') }}">Regresar</a>

    <a class="btn btn-info" href="{{ path('contract_edit', {'id': contract.id}) }}">Modificar</a>

    {{ include('contract/_delete_form.html.twig') }}
{% endblock %}
